/* Hace que el contenedor del formulario tenga bordes no redondeados y un borde azul */
.card {
    border-radius: 0;
    border: 2px solid #007BFF;
}

/* Establece que los campos del formulario tengan bordes no redondeados y un borde azul */
.form-control {
    border-radius: 0;
    border: 2px solid #007BFF;
}

/* Cambia el color del texto de los labels a azul */
label {
    color: #007BFF;
}

/* Establece el color del botón a azul cuando está habilitado */
.btn-primary {
    background-color: #0E387E;
    border-color: #0E387E;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    margin-top: 15px;       
    border-radius: 20px;   
    padding: 10px 20px;    
    align-self: center;
}
.obligatorio-texto {
    text-align: left;      
    font-size: 0.85rem;    
    color: #777;           
    margin-bottom: 10px;   
}

.form-control {
    border-radius: 4px;
    border: 2px solid #ccc; 
}


.btn-primary:disabled {
    background-color: #ccc;
    border-color: #ccc;
}
